.title {
    text-align: center;
    font-family: 'Medium', 'MedievalSharp', cursive;
    font-size: 80px;
    font-weight: 900;

    padding-top: 30px;
    line-height: 130px;



}

.back-img {

    opacity: 0.2;
    min-height: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 0;
    position: 0;
}